include MANIFEST.in
include CHANGELOG.md
include README.md
include Makefile
include src/musashi/softfloat/softfloat-macros
include src/musashi/softfloat/softfloat-specialize
include src/musashi/*.txt
recursive-include src *.pyx *.c *.h
